@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General CSS */

:root {
    --ligt-green: #78cf93;
    --header-height: 55px;
    --grey-transparent: rgba(0, 0, 0, 0.6);
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
 
body {
    height: 100vh;

}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-right: 16px;
    padding-left: 16px;
}

.col-full {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.btn {
    padding: 8px 16px;
    border: 1px solid #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 10px;
}

.btn--cart {
    margin-top: 8px;
    background-color: rgba(0,0,0,0.4);
    padding: 16px 32px;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}


.btn--submit {
    background-color: #ff623d;
    float: right;
}

.btn--reset {
    background-color: #47d864;
    float: right;
}

/* Unique CSS */
header {
    background-color: var(--grey-transparent);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.nav__logo {
    color: #fff;
    flex: 1;
    text-align: right;
}

.nav__logo--l-size {
    font-size: 40px;
    margin-right: 8px;
}


#nav__items {
    list-style: none;
    flex: 2;
    text-align: start;
    margin-right: 24px;
    
}

#nav__items li {
    display: inline-block;
    position: relative;;
}
 
#nav__items li a::after {
    content:' ';
    position: absolute;
    display: inline-block;
    margin-left: 2px;
    height: calc(var(--header-height) - 15px);
    background-color: #fff;
    width: 2px;
    right: 0;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
}

#nav__items li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    font-weight: 500;
    text-decoration: none;
    line-height: var(--header-height);
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#nav__items li:nth-child(5) a{
    background-color: #ccc;
    color: #000;
}

#nav__items li a:hover {
    background-color: #ccc;
    color: #000;
}

#main {
    background-image: linear-gradient(to right bottom, rgba(171, 169, 169,0.4), rgba(99, 97, 97,0.9)),url("../bg_img/background.jpeg");
    background-size: cover;
    background-position: center;
}

.main__layout {
    margin-top: var(--header-height);
}

.main__breadcrumb {
    margin: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 0;
    list-style: none;
    text-align: center;
    display: inline-block;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 6px 6px 7px #000;
}

.main__breadcrumb li {
    display: inline-block;
}

.main__breadcrumb li p,
.main__breadcrumb li a{
    /* text-decoration: none; */
    color: #fff;
    font-size: 24px;
    padding: 8px 16px;

}

.main__breadcrumb li a:hover {
    color: #ff623d;
    background-color: #ccc;
}

.main__breadcrumb__icon {
    margin: 8px;
    color: #fff;
}


.main__sell{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__sell__img-l-size{
    text-align: end;
    flex: 2;
    display: block;
    transition: all 0.3s ease;
}

.main__sell__sub-img-container{
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__sell__purchase {
    flex: 1;
}

.main__sell__img-s-size {
    margin: 20px;
    
}

.main__sell__img-l-size img{
    transition: all 0.3s ease;
    margin: 16px;
    width: 300px;
    height: 400px;
}

.main__sell__img-s-size img{
    transition: all 0.3s ease;
    width: 100px;
    height: 100px;
    display: block;
    
}

.main__sell__img-s-size img:hover,
.main__sell__img-l-size img:hover{
    transform: scale(1.1);
    filter: none;
    box-shadow: 6px 6px 7px #000;
}

.main__sell__purchase__price {
    font-size: 50px;

}

.main__info {
    margin: 16px 40px;
    padding-bottom: 100px;
}

.main__info__title,
.main__info__desc {
    color: #fff;
    font-size: 24px;
    margin-bottom: 16px;
    font-style: italic;
    line-height: 1.4;
}

.main__info__desc p{
    text-align: justify;
    margin-bottom: 16px;
}



#footer{
    padding: 64px 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    
}

#footer .social-list {

    margin-bottom: 16px;
}

#footer .social-list a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .copyright a:hover {
    color: rgba(0,0,0,0.4);

}
#footer .social-list a:hover i[class*="fa-"] {

    color: rgba(0,0,0,0.4);
    transition: all 0.3s ease;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#footer .social-list {
    font-size: 40px;
}
#footer .copyright a {
    color:rgba(0,0,0,0.6);
}
#footer .copyright{
    display: inline-block;
    background-color: #f1f1f1;
    margin-top: 15px;
    font-size: 15px;
    color:rgba(0,0,0,0.6);
}

#nav__items.nav__items--footer > li a {
    color: #fff;
    background-color: rgba(102, 102, 102, 1);
}

#nav__items.nav__items--footer > li a:hover {
    color: #000;
    background-color: #ccc;
}

@media screen and (min-width: 390px) and (max-width: 650px) {
    .col-3 {
        width: 100%;
    }
    .category--horror{
        margin-top: 330px;

    }

    .category {
        height: auto;
        flex-direction: column;
    }

    .category__about {
        flex: 2.5;
    }

    .category__item {
        flex: 1;
    }


    .category__item__body{
        display: flex;
        align-items: center;
    }

    .category__item__body__block {
        flex: 2;
        justify-self: center;
    }


    .category__item__body img{
        width: 200px !important;
        margin-bottom: 8px;
    }

    .category__item__img {
        min-height: 300px ;
    }

    header {
        height: auto;
    }

    #nav__items li{
        display: block;
        
    }

    .nav__logo {
        text-align: center;
    }

    .main__breadcrumb {
        transform: translateX(-55%) !important;
    }


}

@media screen and (max-width: 960px) {
    
    
    .category--horror{
        margin-top: 330px;

    }

    .category {
        height: auto;
        flex-direction: column;
    }

    .category__about {
        flex: 2.5;
    }

    .category__item {
        flex: 1;
    }

    header {
        height: auto;
    }

    #nav__items li{
        display: block;
        
    }

    .nav__logo {
        text-align: center;
    }

    .main__sell {
        flex-direction: column;
    }

    .main__sell__sub-img-container{
        flex-direction: row;
    }

    .main__info {
        margin: 16px 20px;
    }

    .main__layout {
        margin-top: 330px;
    }
}

@media screen and (min-width: 961px) and (max-width: 1158px) {
    .nav__logo--l-size {
        font-size: 20px;
        margin-right: 8px;
    }

    .nav__logo {
        color: #fff;
        flex: 0.4;
        text-align: right;
    }
}

@keyframes bounce {
    0% {
      transform: scale(1, 1) translateY(0);
    }
    10% {
      transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      transform: scale(0.9, 1.1) translateY(-20px);
    }
    50% {
      transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
      transform: scale(1, 1) translateY(-7px);
    }
    64% {
      transform: scale(1, 1) translateY(0);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }
